/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/*------------------------------------------------------------------------*/
@import url('https://fonts.cdnfonts.com/css/roboto');

:root{
   --Primaryfont:'Roboto', sans-serif;

   --PrimaryColor:#100F0F;
   --SecondColor:#F1F1F1;
}
*{
    font-family: var(--Primaryfont);
    list-style: none;
    text-decoration: none;
}
header{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
}
header img{
    width: 10vmax;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vmax;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
    width: 50%;
}
nav a{
    color: var(--PrimaryColor) ;
}
nav a{
  position: relative;
  overflow: hidden;
}
nav a::after{
  position: absolute;
  content: '';
  width: 0%;
  height: 15%;
  background-color: var(--PrimaryColor);
  bottom: 0;
  right: 0%;
  transition: 0.3s;
}
nav a:hover::after{
  left: 0;
  width: 100%;
}
nav button{
    position: relative;
    padding: 10px 15px;
    cursor: pointer;
    background-color: var(--PrimaryColor);
    color: var(--SecondColor);
    margin: 0 5px;
    transition: 0.3s;
    border: none;
}
nav button:hover{
  color: var(--PrimaryColor);
  background-color: var(--SecondColor);
}

/*--------------------------------------------------*/
main{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-content{
  position: relative;
  width: 90%;
  height: 80%;
  overflow: hidden;
  background-image: url('./Images/img3.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--SecondColor);
}
.main-content h1{
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 10vmax;
  z-index: 1;
  text-align: center;
  margin-top: 10px;
}
.input-group {
  width: 50.4%;
  height: 20%;
  display: flex;
  align-items: center;
  z-index: 2;
}

.input {
  min-height: 50px;
  width: 80%;
  padding: 0 1rem;
  color: var(--PrimaryColor);
  font-size: 15px;
  border: 1px solid var(--SecondColor);
  background-color: transparent;
  background-color: var(--SecondColor);
}
.input::placeholder{
  font-size: .8em;
}
.button--submit {
  width: 8em;
  height: 50px;
  border: none;
  background-color: var(--SecondColor);
  color: var(--PrimaryColor);
  font-size: 15px;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.button--submit:hover {
  background-color: var(--PrimaryColor);
  color: var(--SecondColor);
}

.input:focus, .input:focus-visible {
  border-color: var(--PrimaryColor);
  outline: none;
}
